*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: #343132;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
}
/*header*/
.header{
    padding: 25px 0;
    background-color: #ffffff;
    border-bottom: 2px solid #e8e8e8;
}
.left{
    float: left;
    width: 45%;
    margin-left: 40px;
}

.center {
    float: left;
    width: 5%;
}
.menu{
    float: left;
    margin-top: 3px;
}
.menu li{
    float: left;
    margin-left: 20px;
    color: #d5d5d5;
    list-style: none;
}
.menu li a{
    font-size: 22px;
    color: #d5d5d5;
    transition: all 150ms;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}
.menu li a:hover{
    color: #2fd9b8;
}
.menu li i:hover{
    color: #2fd9b8 ;
}
.menu li:first-child{
    color: #4d4d4d;
}

.menu i{
    font-size: 1.8em;
}
.right{
    float: right;
    width: 40%;
    margin: auto;
    margin-right: 60px;
}
.search{
    float: right;
    width: 250px;
    height: 35px;
    border-radius: 25px;
    background-color: #f3f3f3;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
.search i{
    color: #b2b2b2;
}
.login{
    float: right;
    padding: 6px;
}
.login1{
    float: right;
    margin: 0 8px;
}
.login1 li{
    float: right;
    color: #d5d5d5;
    list-style: none;
}
.login1 li a{
    font-size: 16px;
    color: #d5d5d5;
    transition: all 150ms;
    text-decoration: none;

}
.login1 li a:hover{
    color: #2fd9b8;
}
.signup{
    float: right;
    border-radius: 25px;
    background-color: #2fd9b8;
    padding: 8px 20px;
}
.signup a{
    color: #d5d5d5;
    transition: all 150ms;
    text-decoration: none;
}
.top{
    background-color: #96f7e3;
    padding: 55px;
    border-bottom: 2px solid #8decd9;
}
.top h1{
    text-align: center;
    color: #4b8377;
    font-weight: 100;
    font-size: 40px;
}
.section_left{
    float: left;
    width: 33.33%;
    background-color: #96f7e3;
    padding: 35px;
    border-right: 2px solid #8decd9;
    border-bottom: 2px solid #ccefe7;
    margin-bottom: 40px;
}
.section_left h2{
    text-align: center;
    color: #659e97;
    font-weight: 100;
    font-size: 28px;
}
.menu2 .menu{
    margin-left: 10px;
}
.menu2 .menu li:first-child{
    color: #343132;
}
.menu2 li a{
    margin-left: 30px;
    font-size: 20px;
}
.section1{
    height: 580px;
    width: 100%;
    margin-top: 215px;
}
.stt{
    float: right;
    width: 30%;
    height: 100%;
    background-color: #ffffff;
    margin: 0px 40px 0px 10px;
    max-height: 100%;
    border-bottom: 2px solid #e8e8e8;
}
.section2{
    height: 580px;
    width: 100%;
    margin: 70px 0;
}
.price{
    padding: 30px 45px;
    float: right;
    background-color: #2fdab8;
}
.price p{
    font-size: 28px;
    font-weight: 500;
    color: #ffffff;
}
.stt img{
    width: 350px;
    height: 300px;
    margin: 40px 110px;
}
.add{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.add img{
    float: left;
    margin: 0;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: 4px solid #ffffff;
    margin-right: -22px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




