.menu{
    border-bottom: 1px solid #ddd;
}
button{
    background-color: #ffffff;
    margin-bottom: -1px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px 5px 0px 0px;
}
button:hover{
    background-color: #ddd;
}
.tab{
    display: none;
}